<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="/">SfCN</a>

            <ul id="topnav" class="nav">
                <li{% if page.active_nav == 'home' %} class="active"{% endif %}><a href="/">首 页</a></li>
                <li><a href="/practices/">开发实例</a></li>
                <li{% if page.active_nav == 'news' %} class="active"{% endif %}><a href="/news/">技术动态</a></li>
                <li{% if page.active_nav == 'contribute' %} class="active"{% endif %}><a href="/contribute/">参 与</a></li>
                <li><a href="http://symfony.cn/docs/" target="_blank">中文文档</a></li>
                <li><a href="https://github.com/modi/symfony-docs-chs/issues" target="_blank">讨论区 @ GitHub</a></li>
				<li{% if page.active_nav == 'contact' %} class="active"{% endif %}><a href="/contact.html">联系我们</a></li>
            </ul>
        </div>
    </div>
</div>